
.section1{
  height: calc(100vh - 80px);

  background: no-repeat left -150px top -70px url("https://static.grammarly.com/assets/files/06666c30f97cce25ac1cf1c4573332c2/swoosh.png");
}
.section2{
  margin-top: 10px;
  
}

@media (max-width: 900px) {
  .section2{
    margin-top: 130vh;
  }
}